@import url('https://fonts.googleapis.com/css2?family=Delius&family=Edu+QLD+Beginner:wght@500&family=Inconsolata&family=Lilita+One&family=Roboto+Mono&family=Roboto:wght@300&family=Tilt+Neon&display=swap');
:root{
    --fontcolor:#89D95A;
}
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: linear-gradient(to top right,green,white);*/
    flex-wrap: wrap;

}
.footerlogo{
width: 30%;
height: 80%;
margin: 0 5px;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
}
.footerlogo img{
    width:90%;
    height:200px;
}

.footersocials{
border:1px solid black;
width: 30%;
height:80%;
margin: 0 5px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.footersocials span{
    color:var(--fontcolor);
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 70%;
}
.iconfooter{
    width: 30px;
    margin: 0 5px;
}
.footerlocation{
    width: 30%;
height: 100%;
margin: 0 2.5%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.footerlocation h2{
    font-family: 'Delius', cursive;
    font-weight:bold;
    color:var(--fontcolor);
}
.footerlocation p{
    width: 70%;
    margin: 0 auto;
    font-family: 'Delius', cursive;
    font-weight:bold;
    color:var(--fontcolor);
}
.icongps{
    width: 50px;
}
@media(max-width:600px){
    .footer{
        width: 100%;
        height: 500px;
    }
    .footerlogo{
        width: 100%;
        height: 40%;
    }
    .footersocials{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }
    .footerlocation{
        width: 100%;
        height: 30%;
        flex-direction: column;
        display: flex;
    }
    .footerlocation p{
         width:95%;
    }
}

